<h2>Nominate Someone</h2>

<div class="row">
  <div class="col-lg-4">
    <%= for user <- @users do %>
      <div><%= nomination_link(@conn, user, user.name) %></div>
    <% end %>
  </div>
  <div class="col-lg-8">
    <%= tag :img, src: Oprah.Images.success_url(@conn), class: "right" %>
  </div>
</div>
