<h2>Show nomination</h2>

<ul>

  <li>
    <strong>Nominee:</strong>
    <%= @nomination.nominee_id %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @nomination.body %>
  </li>

  <li>
    <strong>Nominated by:</strong>
    <%= @nomination.nominated_by_id %>
  </li>

  <li>
    <strong>Awarded at:</strong>
    <%= @nomination.awarded_at %>
  </li>

</ul>

<%= link "Edit", to: nomination_path(@conn, :edit, @nomination) %>
<%= link "Back", to: nomination_path(@conn, :index) %>
